<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105807776637-gpud09t1m1tfvjn6tuggtuefth3a8m62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105807776637-gpud09t1m1tfvjn6tuggtuefth3a8m62</string>
	<key>API_KEY</key>
	<string>AIzaSyAPmfF-ja90v-dj6gXDNPTkKlCOrN8IJ60</string>
	<key>GCM_SENDER_ID</key>
	<string>105807776637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.wirelab.apps.epwa</string>
	<key>PROJECT_ID</key>
	<string>epwa-1bd6d</string>
	<key>STORAGE_BUCKET</key>
	<string>epwa-1bd6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105807776637:ios:cfcf65f7bfc35190329a14</string>
	<key>DATABASE_URL</key>
	<string>https://epwa-1bd6d.firebaseio.com</string>
</dict>
</plist>